**/__mocks__
**/__tests__
.circleci
.commit-msg
.github
.prettierignore
.travis.yml
.vscode
build
coverage
docs
examples
scripts
src
test
tsconfig.json
tsconfig.*.json
tslint.json
**/*.spec.*
*.emit
*.env
.nyc_output
*.log
.editorconfig
*.tgz
patches
example
.envrc
.direnv
*.nix
.cache
